namespace :sidekiq do
  desc "Clear out sidekiq's redis in development"
  task :reset => :environment do
    if Rails.env.development?
      Sidekiq::Queue.new.clear
    else
      puts "!!!! You cannot sidekiq:reset outside of development !!!"
    end
  end
end
